---
import { getCollection } from 'astro:content';
import BaseLayout from '@/layouts/BaseLayout.astro';
import BlogPostList from '@/components/BlogPostList.astro';

const allPosts = await getCollection('blog');
const sortedPosts = allPosts.sort((a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf());
const postsPerPage = 10;

---

<BaseLayout>
    <h1 class="text-4xl font-bold mb-8">Tar Heel Dev Studio Blog</h1>
    <BlogPostList />
</BaseLayout>
