---
import BaseLayout from "@/layouts/BaseLayout.astro";
import ProjectsSection from "@/components/ProjectsSection.astro";
---

<BaseLayout>
    <h1>Project Page</h1>
    <ProjectsSection />
</BaseLayout>
