---
import '@/styles/globals.css';
import Navbar from '../components/Navbar.astro';
import SpotifyFloatingCard from "@/components/SpotifyFloatingCard.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>GeauxWeisbeck4.dev | Andrew's Digital Garden</title>
	</head>
	<body>
        <Navbar />
        <slot />
		<SpotifyFloatingCard />
	</body>
</html>
